<!DOCTYPE html>
<html lang="en">
<head>
	  <title>中研台語系統</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
	  <meta charset="utf-8">
  	<meta content="width=device-width, initial-scale=1" name="viewport">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	  <script src="https://kit.fontawesome.com/abbe59e8a6.js" crossorigin="anonymous"></script>

  	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/playlist.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_trans.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hanzi2tailo.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign2digit.css') }}"></link>

    <script type="text/javascript" src="{{ url_for('static', filename='js/db.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/playlist.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hanzi2tailo.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/sign2digit.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="list_drama">台語劇字幕修正<span class="sr-only">(current)</span></a>
                </li>
								<li class="nav-item active">
                    <a class="nav-link" href="hanzi2tailo">漢字轉臺羅</a>
                </li>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="sign2digit">符號調轉數字調</a>
                </li>
            <li class="nav-item">
                    <a class="nav-link" href="changelog">更新日誌</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% block content%}

    {% endblock %}
</body>

{% block script %}

{% endblock %}
</html>
