{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
	<div class="container">
		<div class="row" style="margin:20px;">
			<div class="col">
            	<h1 style="text-align:center">中研台語系統</h1>
			</div>
        </div>

		<div class="row">
			<div class="col">
				<form class="form-horizontal" action="login" method="POST">
					<div class="form-group row">
						<label for="username" class="col-sm-2 col-form-label">帳號</label>
					    <div class="col-sm-8">
					      	<input name="username"  id="username" type="username" class="form-control">
					    </div>
					</div>
					<div class="form-group row">
				    	<label for="password" class="col-sm-2 col-form-label">密碼</label>
				    	<div class="col-sm-8">
				      		<input name="password" id="password" type="password" class="form-control">
				    	</div>
				  	</div>
					<div class="form-group row">
					    <div class="col-sm-10">
					      	<button type="submit" class="btn btn-primary" style="float: right;">登入</button>
					    </div>
				  	</div>
				</form>
			</div>
		</div>

		<div class="d-flex justify-content-center align-items-center"">
			<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false" style="max-width: 1000px; background-color: orange;">
				<div class="toast-header">
					<strong class="mr-auto">重要操作公告</strong>
					<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="toast-body">
					{% for date_bulletin in bulletin %}
				        {%- if loop.index >= 6 %}{% break %}{% endif %}
				        {% set date = date_bulletin["date"] %}
				        {% set items = date_bulletin["items"] %}
				        <div class="row">
				            <div class="col-2">{{date}}</div>

				            <div class="col-9">
				                <ul class="">
				                    {% for  item in items %}
				                        <li class="" style="">{{item}}</li>
				                    {% endfor %}
				                </ul>
				            </div>
				        </div>
						<hr class="small" />
				    {% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script>
		$(document).ready(function(){
		  $(".toast").toast("show");
		});
	</script>
{% endblock %}
